In [2]:
#乘客总共有11个特征属性，预测：“什么样的人更有可能生存？”。
# PassengerId => 乘客ID
# Pclass => 客舱等级(1/2/3等舱位)
# Name => 乘客姓名
# Sex => 性别
# Age => 年龄
# SibSp => 兄弟姐妹数/配偶数
# Parch => 父母数/子女数
# Ticket => 船票编号
# Fare => 船票价格
# Cabin => 客舱号
# Embarked => 登船港口

import pandas as pd

In [3]:
train=pd.read_csv('./train.csv')

In [70]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
test=pd.read_csv('./test.csv')

In [7]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [8]:
full=pd.concat([train,test],ignore_index=True,sort = True)

In [9]:
full.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [10]:
full.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [11]:
full.Embarked.mode()  #求出众数

0    S
dtype: object

In [12]:
full['Embarked'].fillna('S',inplace=True)  #登船港口 众数S填充

In [78]:
full[full.Fare.isnull()]

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
1043,60.5,NaN,S,NaN,"Storey, Mr. Thomas",0,1044,3,male,0,NaN,3701

In [13]:
full.Fare.fillna(full[full.Pclass==3]['Fare'].median(),inplace=True) #船票价格 Pclass3中位数填充

In [14]:
full.loc[full.Cabin.notnull(),'Cabin']=1
full.loc[full.Cabin.isnull(),'Cabin']=0

#性别清洗
full.loc[full['Sex']=='male','Sex']=1
full.loc[full['Sex']=='female','Sex']=0

In [16]:
full['Title']=full['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())

In [83]:
full.Title.value_counts()

Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Mlle              2
Major             2
Ms                2
Dona              1
Don               1
Sir               1
Lady              1
Mme               1
Jonkheer          1
Capt              1
the Countess      1
Name: Title, dtype: int64

In [84]:
nn={'Capt':'Rareman', 'Col':'Rareman','Don':'Rareman','Dona':'Rarewoman',
    'Dr':'Rareman','Jonkheer':'Rareman','Lady':'Rarewoman','Major':'Rareman',
    'Master':'Master','Miss':'Miss','Mlle':'Rarewoman','Mme':'Rarewoman',
   'Mr':'Mr','Mrs':'Mrs','Ms':'Rarewoman','Rev':'Mr','Sir':'Rareman',
   'the Countess':'Rarewoman'}
full.Title=full.Title.map(nn)

full.loc[full.PassengerId==797,'Title']='Rarewoman' #女博士划分为Rarewoman

In [85]:
full.Title.value_counts()

Mr           765
Miss         260
Mrs          197
Master        61
Rareman       17
Rarewoman      9
Name: Title, dtype: int64

In [17]:
full[full.Title=='Master']['Sex'].value_counts()

1    61
Name: Sex, dtype: int64

In [87]:
full[full.Title=='Master']['Age'].describe()

count    53.000000
mean      5.482642
std       4.161554
min       0.330000
25%       2.000000
50%       4.000000
75%       9.000000
max      14.500000
Name: Age, dtype: float64

In [18]:
full[full.Title=='Miss']['Age'].describe()

count    210.000000
mean      21.774238
std       12.249077
min        0.170000
25%       15.000000
50%       22.000000
75%       30.000000
max       63.000000
Name: Age, dtype: float64

In [89]:
full.Age.fillna(999,inplace=True) #年龄缺失值填充

In [90]:
def girl(aa):
    if (aa.Age!=999)&(aa.Title=='Miss')&(aa.Age<=14):
        return 'Girl'
    elif (aa.Age==999)&(aa.Title=='Miss')&(aa.Parch!=0):
        return 'Girl'
    else:
        return aa.Title

full['Title']=full.apply(girl,axis=1)

In [91]:
full.Title.value_counts()

Mr           765
Miss         201
Mrs          197
Master        61
Girl          59
Rareman       17
Rarewoman      9
Name: Title, dtype: int64

In [92]:
full[full.Age==999]['Age'].value_counts()

999.0    263
Name: Age, dtype: int64

In [93]:
Tit=['Mr','Miss','Mrs','Master','Girl','Rareman','Rarewoman']
for i in Tit:
    full.loc[(full.Age==999)&(full.Title==i),'Age']=full.loc[full.Title==i,'Age'].median()

In [94]:
#年龄处理
full.loc[full['Age']<=15,'Age']=0
full.loc[(full['Age']>15)&(full['Age']<55),'Age']=1
full.loc[full['Age']>=55,'Age']=2

In [95]:
#客舱等级(0/1/2)
full['Pclass']=full['Pclass']-1

In [96]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
Age            1309 non-null float64
Cabin          1309 non-null int64
Embarked       1309 non-null object
Fare           1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null int64
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
Title          1309 non-null object
dtypes: float64(3), int64(6), object(4)
memory usage: 133.0+ KB

In [97]:
from sklearn.cluster import KMeans

In [98]:
Fare=full['Fare'].values
Fare=Fare.reshape(-1,1)
km = KMeans(n_clusters=3).fit(Fare)  #聚类为3类
Fare = km.fit_predict(Fare)
full['Fare']=Fare

In [99]:
full['Fare']=full['Fare'].astype(int)
full['Age']=full['Age'].astype(int)
full['Cabin']=full['Cabin'].astype(int)
full['Pclass']=full['Pclass'].astype(int)
full['Sex']=full['Sex'].astype(int)

In [100]:
dataset=full.drop(columns=['Embarked','Name','Parch','PassengerId','SibSp','Ticket','Title'])
dataset.dropna(inplace=True)
dataset['Survived']=dataset['Survived'].astype(int)
train_res=dataset[:800]
test_res=dataset[800:892]

In [101]:
train_res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 799
Data columns (total 6 columns):
Age         800 non-null int32
Cabin       800 non-null int32
Fare        800 non-null int32
Pclass      800 non-null int32
Sex         800 non-null int32
Survived    800 non-null int32
dtypes: int32(6)
memory usage: 25.0 KB

In [102]:
train_res

     Age  Cabin  Fare  Pclass  Sex  Survived
0      1      0     0       2    1         0
1      1      1     2       0    0         1
2      1      0     0       2    0         1
3      1      1     2       0    0         1
4      1      0     0       2    1         0
5      1      0     0       2    1         0
6      1      1     2       0    1         0
7      0      0     0       2    1         0
8      1      0     0       2    0         1
9      0      0     0       1    0         1
10     0      1     0       2    0         1
11     2      1     0       0    0         1
12     1      0     0       2    1         0
13     1      0     0       2    1         0
14     0      0     0       2    0         0
15     2      0     0       1    0         1
16     0      0     0       2    1         0
17     1      0     0       1    1         1
18     1      0     0       2    0         0
19     1      0     0       2    0         1
20     1      0     0       1    1         0
21     1      1     0       1    1         1
22     0      0     0       2    0         1
23     1      1     0       0    1         1
24     0      0     0       2    0         0
25     1      0     0       2    0         1
26     1      0     0       2    1         0
27     1      1     1       0    1         0
28     1      0     0       2    0         1
29     1      0     0       2    1         0
..   ...    ...   ...     ...  ...       ...
770    1      0     0       2    1         0
771    1      0     0       2    1         0
772    2      1     0       1    0         0
773    1      0     0       2    1         0
774    1      0     0       1    0         1
775    1      0     0       2    1         0
776    1      1     0       2    1         0
777    0      0     0       2    0         1
778    1      0     0       2    1         0
779    1      1     1       0    0         1
780    0      0     0       2    0         1
781    1      1     2       0    0         1
782    1      1     0       0    1         0
783    1      0     0       2    1         0
784    1      0     0       2    1         0
785    1      0     0       2    1         0
786    1      0     0       2    0         1
787    0      0     0       2    1         0
788    0      0     0       2    1         1
789    1      1     2       0    1         0
790    1      0     0       2    1         0
791    1      0     0       1    1         0
792    0      0     2       2    0         0
793    1      0     0       0    1         0
794    1      0     0       2    1         0
795    1      0     0       1    1         0
796    1      1     0       0    0         1
797    1      0     0       2    0         1
798    1      0     0       2    1         0
799    1      0     0       2    0         0

[800 rows x 6 columns]

In [36]:
test_res

     Age  Cabin  Fare  Pclass  Sex  Survived
800    1      0     0       1    1         0
801    1      0     0       1    0         1
802    0      1     2       0    1         1
803    0      0     0       2    1         1
804    1      0     0       2    1         1
805    1      0     0       2    1         0
806    1      1     0       0    1         0
807    1      0     0       2    0         0
808    1      0     0       1    1         0
809    1      1     2       0    0         1
810    1      0     0       2    1         0
811    1      0     0       2    1         0
812    1      0     0       1    1         0
813    0      0     0       2    0         0
814    1      0     0       2    1         0
815    1      1     0       0    1         0
816    1      0     0       2    0         0
817    1      0     0       1    1         0
818    1      0     0       2    1         0
819    0      0     0       2    1         0
820    1      1     2       0    0         1
821    1      0     0       2    1         1
822    1      0     0       0    1         0
823    1      1     0       2    0         1
824    0      0     0       2    1         0
825    1      0     0       2    1         0
826    1      0     2       2    1         0
827    0      0     0       1    1         1
828    1      0     0       2    1         1
829    2      1     2       0    0         1
..   ...    ...   ...     ...  ...       ...
861    1      0     0       1    1         0
862    1      1     0       0    0         1
863    0      0     2       2    0         0
864    1      0     0       1    1         0
865    1      0     0       1    0         1
866    1      0     0       1    0         1
867    1      1     2       0    1         0
868    1      0     0       2    1         0
869    0      0     0       2    1         1
870    1      0     0       2    1         0
871    1      1     2       0    0         1
872    1      1     0       0    1         0
873    1      0     0       2    1         0
874    1      0     0       1    0         1
875    0      0     0       2    0         1
876    1      0     0       2    1         0
877    1      0     0       2    1         0
878    1      0     0       2    1         0
879    2      1     2       0    0         1
880    1      0     0       1    0         1
881    1      0     0       2    1         0
882    1      0     0       2    0         0
883    1      0     0       1    1         0
884    1      0     0       2    1         0
885    1      0     0       2    0         0
886    1      0     0       1    1         0
887    1      1     0       0    0         1
888    0      0     0       2    0         0
889    1      1     0       0    1         1
890    1      0     0       2    1         0

[91 rows x 6 columns]

In [103]:
train_res.to_csv("train1.csv",index =False)
test_res.to_csv("test1.csv",index = False)

In [105]:
from  pgmpy.estimators import ParameterEstimator
from pgmpy.models import BayesianModel
from pgmpy.estimators import BayesianEstimator
from pgmpy.inference import VariableElimination
# from matplotlib import pyplot as plt
# from pgmpy.estimators import MaximumLikelihoodEstimator
import warnings
warnings.filterwarnings("ignore")

In [106]:
model = BayesianModel([('Age', 'Survived'), ('Sex', 'Survived'),('Fare','Pclass'),('Pclass','Survived'),('Cabin','Survived')])

In [107]:
model.edges()

[('Age', 'Survived'),
 ('Sex', 'Survived'),
 ('Fare', 'Pclass'),
 ('Pclass', 'Survived'),
 ('Cabin', 'Survived')]

In [108]:
def showBN(model,save=False):
    from graphviz import Digraph
    node_attr = dict(
     style='filled',
     shape='box',
     align='left',
     fontsize='12',
     ranksep='0.1',
     height='0.2'
    )
    dot = Digraph(node_attr=node_attr, graph_attr=dict(size="12,12"))
    seen = set()
    edges=model.edges()
    for a,b in edges:
        dot.edge(a,b)
    if save:
        dot.view(cleanup=True)
    return dot

In [109]:
showBN(model)

In [19]:
model.fit(train_res, estimator=BayesianEstimator, prior_type="BDeu")

NameError: name 'model' is not defined

In [111]:
# 验证模型数据的正确性（检测节点是否定义，概率和是否为1）
model.check_model()

True

In [113]:
for i in model.get_cpds():
    print(i)

+--------+-----------+
| Age(0) | 0.103934  |
+--------+-----------+
| Age(1) | 0.845549  |
+--------+-----------+
| Age(2) | 0.0505176 |
+--------+-----------+
+-------------+-----------+-----------+----------------------+----------------------+--------------------+--------------------+--------------------+----------------------+---------------------+----------------------+--------------------+---------------------+----------------------+--------------------+--------------------+-------------------+--------------------+---------------------+----------------------+--------------------+----------------------+--------------------+-----------+--------------------+-----------+----------------------+---------------------+---------------------+---------------------+----------------------+----------------------+---------------------+---------------------+-----------+-----------+-----------+
| Age         | Age(0)    | Age(0)    | Age(0)               | Age(0)               | Age(0)             | Age(0)             | Age(0)             | Age(0)               | Age(0)              | Age(0)               | Age(0)             | Age(0)              | Age(1)               | Age(1)             | Age(1)             | Age(1)            | Age(1)             | Age(1)              | Age(1)               | Age(1)             | Age(1)               | Age(1)             | Age(1)    | Age(1)             | Age(2)    | Age(2)               | Age(2)              | Age(2)              | Age(2)              | Age(2)               | Age(2)               | Age(2)              | Age(2)              | Age(2)    | Age(2)    | Age(2)    |
+-------------+-----------+-----------+----------------------+----------------------+--------------------+--------------------+--------------------+----------------------+---------------------+----------------------+--------------------+---------------------+----------------------+--------------------+--------------------+-------------------+--------------------+---------------------+----------------------+--------------------+----------------------+--------------------+-----------+--------------------+-----------+----------------------+---------------------+---------------------+---------------------+----------------------+----------------------+---------------------+---------------------+-----------+-----------+-----------+
| Cabin       | Cabin(0)  | Cabin(0)  | Cabin(0)             | Cabin(0)             | Cabin(0)           | Cabin(0)           | Cabin(1)           | Cabin(1)             | Cabin(1)            | Cabin(1)             | Cabin(1)           | Cabin(1)            | Cabin(0)             | Cabin(0)           | Cabin(0)           | Cabin(0)          | Cabin(0)           | Cabin(0)            | Cabin(1)             | Cabin(1)           | Cabin(1)             | Cabin(1)           | Cabin(1)  | Cabin(1)           | Cabin(0)  | Cabin(0)             | Cabin(0)            | Cabin(0)            | Cabin(0)            | Cabin(0)             | Cabin(1)             | Cabin(1)            | Cabin(1)            | Cabin(1)  | Cabin(1)  | Cabin(1)  |
+-------------+-----------+-----------+----------------------+----------------------+--------------------+--------------------+--------------------+----------------------+---------------------+----------------------+--------------------+---------------------+----------------------+--------------------+--------------------+-------------------+--------------------+---------------------+----------------------+--------------------+----------------------+--------------------+-----------+--------------------+-----------+----------------------+---------------------+---------------------+---------------------+----------------------+----------------------+---------------------+---------------------+-----------+-----------+-----------+
| Pclass      | Pclass(0) | Pclass(0) | Pclass(1)            | Pclass(1)            | Pclass(2)          | Pclass(2)          | Pclass(0)          | Pclass(0)            | Pclass(1)           | Pclass(1)            | Pclass(2)          | Pclass(2)           | Pclass(0)            | Pclass(0)          | Pclass(1)          | Pclass(1)         | Pclass(2)          | Pclass(2)           | Pclass(0)            | Pclass(0)          | Pclass(1)            | Pclass(1)          | Pclass(2) | Pclass(2)          | Pclass(0) | Pclass(0)            | Pclass(1)           | Pclass(1)           | Pclass(2)           | Pclass(2)            | Pclass(0)            | Pclass(0)           | Pclass(1)           | Pclass(1) | Pclass(2) | Pclass(2) |
+-------------+-----------+-----------+----------------------+----------------------+--------------------+--------------------+--------------------+----------------------+---------------------+----------------------+--------------------+---------------------+----------------------+--------------------+--------------------+-------------------+--------------------+---------------------+----------------------+--------------------+----------------------+--------------------+-----------+--------------------+-----------+----------------------+---------------------+---------------------+---------------------+----------------------+----------------------+---------------------+---------------------+-----------+-----------+-----------+
| Sex         | Sex(0)    | Sex(1)    | Sex(0)               | Sex(1)               | Sex(0)             | Sex(1)             | Sex(0)             | Sex(1)               | Sex(0)              | Sex(1)               | Sex(0)             | Sex(1)              | Sex(0)               | Sex(1)             | Sex(0)             | Sex(1)            | Sex(0)             | Sex(1)              | Sex(0)               | Sex(1)             | Sex(0)               | Sex(1)             | Sex(0)    | Sex(1)             | Sex(0)    | Sex(1)               | Sex(0)              | Sex(1)              | Sex(0)              | Sex(1)               | Sex(0)               | Sex(1)              | Sex(0)              | Sex(1)    | Sex(0)    | Sex(1)    |
+-------------+-----------+-----------+----------------------+----------------------+--------------------+--------------------+--------------------+----------------------+---------------------+----------------------+--------------------+---------------------+----------------------+--------------------+--------------------+-------------------+--------------------+---------------------+----------------------+--------------------+----------------------+--------------------+-----------+--------------------+-----------+----------------------+---------------------+---------------------+---------------------+----------------------+----------------------+---------------------+---------------------+-----------+-----------+-----------+
| Survived(0) | 0.5       | 0.5       | 0.007598784194528876 | 0.016778523489932886 | 0.5663594470046083 | 0.6912858660998937 | 0.3407079646017699 | 0.032467532467532464 | 0.06097560975609757 | 0.022123893805309734 | 0.3407079646017699 | 0.06097560975609757 | 0.006234413965087282 | 0.7128777923784494 | 0.0811634349030471 | 0.924263431542461 | 0.4737226277372263 | 0.8854113308062698  | 0.032776066871975366 | 0.5712871287128712 | 0.008532423208191127 | 0.6592920353982301 | 0.5       | 0.7918918918918919 | 0.5       | 0.9864864864864864   | 0.06097560975609757 | 0.8257918552036199  | 0.06097560975609757 | 0.9864864864864864   | 0.013513513513513513 | 0.7972477064220184  | 0.9390243902439025  | 0.5       | 0.5       | 0.5       |
+-------------+-----------+-----------+----------------------+----------------------+--------------------+--------------------+--------------------+----------------------+---------------------+----------------------+--------------------+---------------------+----------------------+--------------------+--------------------+-------------------+--------------------+---------------------+----------------------+--------------------+----------------------+--------------------+-----------+--------------------+-----------+----------------------+---------------------+---------------------+---------------------+----------------------+----------------------+---------------------+---------------------+-----------+-----------+-----------+
| Survived(1) | 0.5       | 0.5       | 0.9924012158054711   | 0.9832214765100671   | 0.4336405529953918 | 0.3087141339001063 | 0.6592920353982301 | 0.9675324675324675   | 0.9390243902439025  | 0.9778761061946902   | 0.6592920353982301 | 0.9390243902439025  | 0.9937655860349127   | 0.2871222076215506 | 0.9188365650969529 | 0.075736568457539 | 0.5262773722627737 | 0.11458866919373013 | 0.9672239331280247   | 0.4287128712871287 | 0.9914675767918089   | 0.3407079646017699 | 0.5       | 0.2081081081081081 | 0.5       | 0.013513513513513513 | 0.9390243902439025  | 0.17420814479638008 | 0.9390243902439025  | 0.013513513513513513 | 0.9864864864864864   | 0.20275229357798166 | 0.06097560975609757 | 0.5       | 0.5       | 0.5       |
+-------------+-----------+-----------+----------------------+----------------------+--------------------+--------------------+--------------------+----------------------+---------------------+----------------------+--------------------+---------------------+----------------------+--------------------+--------------------+-------------------+--------------------+---------------------+----------------------+--------------------+----------------------+--------------------+-----------+--------------------+-----------+----------------------+---------------------+---------------------+---------------------+----------------------+----------------------+---------------------+---------------------+-----------+-----------+-----------+
+--------+----------+
| Sex(0) | 0.354658 |
+--------+----------+
| Sex(1) | 0.645342 |
+--------+----------+
+---------+-----------+
| Fare(0) | 0.809524  |
+---------+-----------+
| Fare(1) | 0.0269151 |
+---------+-----------+
| Fare(2) | 0.163561  |
+---------+-----------+
+-----------+---------------------+----------------------+---------------------+
| Fare      | Fare(0)             | Fare(1)              | Fare(2)             |
+-----------+---------------------+----------------------+---------------------+
| Pclass(0) | 0.09599317988064791 | 0.9487179487179486   | 0.8624472573839663  |
+-----------+---------------------+----------------------+---------------------+
| Pclass(1) | 0.24484228473998296 | 0.025641025641025637 | 0.05738396624472574 |
+-----------+---------------------+----------------------+---------------------+
| Pclass(2) | 0.6591645353793691  | 0.025641025641025637 | 0.08016877637130802 |
+-----------+---------------------+----------------------+---------------------+
+----------+----------+
| Cabin(0) | 0.767081 |
+----------+----------+
| Cabin(1) | 0.232919 |
+----------+----------+

In [114]:
model_infer = VariableElimination(model)

In [115]:
#边缘概率
for i in model_infer.query(['Age', 'Survived', 'Sex','Fare','Pclass','Cabin']).values():
    print(i)

+-------+------------+
| Age   |   phi(Age) |
+=======+============+
| Age_0 |     0.1039 |
+-------+------------+
| Age_1 |     0.8455 |
+-------+------------+
| Age_2 |     0.0505 |
+-------+------------+
+------------+-----------------+
| Survived   |   phi(Survived) |
+============+=================+
| Survived_0 |          0.6041 |
+------------+-----------------+
| Survived_1 |          0.3959 |
+------------+-----------------+
+-------+------------+
| Sex   |   phi(Sex) |
+=======+============+
| Sex_0 |     0.3547 |
+-------+------------+
| Sex_1 |     0.6453 |
+-------+------------+
+--------+-------------+
| Fare   |   phi(Fare) |
+========+=============+
| Fare_0 |      0.8095 |
+--------+-------------+
| Fare_1 |      0.0269 |
+--------+-------------+
| Fare_2 |      0.1636 |
+--------+-------------+
+----------+---------------+
| Pclass   |   phi(Pclass) |
+==========+===============+
| Pclass_0 |        0.2443 |
+----------+---------------+
| Pclass_1 |        0.2083 |
+----------+---------------+
| Pclass_2 |        0.5474 |
+----------+---------------+
+---------+--------------+
| Cabin   |   phi(Cabin) |
+=========+==============+
| Cabin_0 |       0.7671 |
+---------+--------------+
| Cabin_1 |       0.2329 |
+---------+--------------+

In [116]:
#推理

In [117]:
q1 = model_infer.query(variables=['Survived'], evidence={'Fare': 0})
print(q1['Survived'])

+------------+-----------------+
| Survived   |   phi(Survived) |
+============+=================+
| Survived_0 |          0.6341 |
+------------+-----------------+
| Survived_1 |          0.3659 |
+------------+-----------------+

In [118]:
q2 = model_infer.map_query(variables=['Fare','Age','Sex','Pclass','Cabin'], evidence={'Survived': 1})
# 此处的因果关系并不可以解释为一般意义上的逻辑因果，而是表示一种概率上的相关
print(q2)  #{'Sex': 0, 'Fare': 0, 'Age': 1, 'Pclass': 2, 'Cabin': 0}

{'Fare': 0, 'Age': 1, 'Sex': 0, 'Pclass': 2, 'Cabin': 0}

In [140]:
#剔除想预测的列输入predict函数
predict_data=test_res.drop(columns=['Survived'],axis=1)
y_pred = model.predict(predict_data)
print("测试精度：{}".format((y_pred['Survived']==test_res['Survived']).sum()/len(test_res)))

测试精度：0.8131868131868132

In [147]:
#基于评分的结构学习
from pgmpy.estimators import HillClimbSearch
from pgmpy.estimators import BicScore,BdeuScore,K2Score
hc_bd_model = HillClimbSearch(train_res, scoring_method=BdeuScore(train_res)).estimate()
hc_bi_model = HillClimbSearch(train_res, scoring_method=BicScore(train_res)).estimate()
hc_k2_model = HillClimbSearch(train_res, scoring_method=K2Score(train_res)).estimate()

In [142]:
showBN(hc_bd_model)

In [143]:
showBN(hc_bi_model)

In [144]:
showBN(hc_k2_model)

In [148]:
def test_predict(test_model):
    test_model.fit(train_res, estimator=BayesianEstimator, prior_type="BDeu") #  equivalent_sample_size=5
    predict_data=test_res.drop(columns=['Survived'],axis=1)
    y_pred = test_model.predict(predict_data)
    print((y_pred['Survived']==test_res['Survived']).sum()/len(test_res))
    
test_predict(hc_bd_model)

0.8241758241758241

In [149]:
test_predict(hc_bi_model)

0.8131868131868132

In [150]:
test_predict(hc_k2_model)

0.8241758241758241